
.contenido{
  background-color: #edeef7;
  align-items: center;
  text-align: center;
  margin:2em 0px;  
  width: 100%;
  padding: 1em;
  color: black;
  border: 2px solid #e7e6e1;
  border-radius: 5px;
}
.box1{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    align-items: center;
    border: 2px solid #e7e6e1;
    background-color: #f9f3f3;
    border-radius: 5px;
    margin-bottom: 1em;
    width: 100%;
    margin-top: 0.5em;
}
.sub{
  align-items: initial;
}
.changeButton{
    padding: 0.5em;
    background-color:transparent;
    color: #b8b5ff;
    transition-duration: 0.2s;
    border:0px;
    font-size: large;
}

.changeButton:hover {
    color: #7868e6;
  }

.sendButton{
  border: 2px solid #b8b5ff;
  background-color: #f9f3f3;
  padding: 1em;

  font-size: large;
  border-radius: 5px;
}
.sendButton:hover{
  color: #edeef7;
  background-color:#b8b5ff;
}

.noSendButton{
  border: 2px solid #b8b5ff;
  background-color: #f9f3f3;
  padding: 1em;
  color: gray;
  font-size: large;
  border-radius: 5px;
  cursor: not-allowed
}
