.ItemsList{
    margin: 30px 10% 30px 10%;
   display: grid;
   grid-template-columns: repeat(3, auto); 
}
.itemBox{
   height: 20vw;
   margin: 10px;
   background-color: #693c72;
   text-align: center;
   align-items: center;
   display: grid;
   color: azure;
   
}

.item-links{
   color: azure;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 2rem;
}

@media screen and (max-width: 960px) {

    .ItemsList{
       
        display: grid;
        grid-template-columns: repeat(2, auto);
      
     }
     .itemBox{
        height: 20vw;
        margin: 2px;
        
     }

}